<%-include('../include/_header')-%>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-12">
          <div class="card">hello there side bar</div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-md-6">
              <canvas id="myChart" class="card"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%-include('../include/_footer')-%>
