<%-include('include/_header')-%>
<h2 class="text-center">Welcome to Socket.io <%=title%></h2>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Chat Application</h5>
          <hr />
          <div id="chat-window m-4">
            <div
              id="output"
              class="overflow-auto chat-messages p-4 m-3"
              style="height: 40vh"
            ></div>
            <div id="feedback"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-4">
    <div class="row">
      <div class="col-12 form-group fixed-bottom">
        <div class="mt-3">
          <input
            type="hidden"
            id="handle"
            value="<%=username%>"
            placeholder="Handle"
          />
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <span class="p-2">
                <input
                  type="text"
                  id="message"
                  class="col-10 mb-4 messageBox"
                  placeholder="Message"
                />
                <button
                  id="send"
                  class="btn btn-outline-secondary text-dark btn-lg"
                >
                  send
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%-include('include/_footer')-%>
</div>
